h1 {
		line-height: 30px;
top: 50%;
				left: 50%;
				margin: 20px 0 0 430px;
				font: italic bold 50px/30px Georgia, serif;
				}
label {
		left: 50%;
	margin: 5px 0 0 430px;
	 width: 100%;
		}
Button {
		left: 50%;
	margin: 20px 0 0 500px;
	border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
table, th, td {
    border: 1px solid black;
	left: 50%;
	margin: 20px 0 0 430px;
		}